.mainContainer {
  height: 92vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .carouselcontainer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .video_bg {
        width: 100%;
        height: 100%;
    }

    }
    .container{
        padding: 48px 32px;
        background-color: rgba(255,255,255,0.8);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(5px);


    .heroContentText{
        
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        line-height: 40px;
        
        .title{
            font-weight: 600;
            font-size: 48px;
        }
        .subTitle{
            text-align: center;
            font-weight: 400;
            font-size: 17px;
            line-height: 32px;
            color: #515d70;
        }
        .subsubTitle {
            text-align: center;
            font-weight: 400;
            font-size: 17px;
            line-height: 32px;
            color: #515d70;
            margin-bottom: 32px;
        }
    }
    .heroContentCta{
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      .ctaText{
        margin-top: 18px;
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        color: #515d70;
      }

      .button{
          button{
              min-height: 48px;
              min-width: 170px;
              font-size: 16px;
          }
      }          
    }
  }
} 


@media(max-width:640px){
    .heroContent{
        text-align: center;
    }
}

.heroImg{
    bottom: 0;
    max-width: 100%;
    img{
        max-width: 100%;
    }
}
.heroImgMobile{
    display: none;
}


@media(max-width:640px){
  .heroSection{
      min-height: 100vh;
      .heroContainer{
          .heroContent{
              .heroContentCta{
                  .button{
                      width: 100%;
                      button{
                          width: 100%;
                      }
                  }
              }
          }
          .heroImg{
              display: none;
          }
          .heroImgMobile{
              display: block;
              position: absolute;
              right:0;
              max-width:90vw;
              padding-bottom: 40px;

              img{
                  max-width: 100%;
              }
          }
      }
  }
}
@media(max-width:450px){
  .heroSection{
      min-height: 110vh;
      .heroContainer{
          .heroContent{
              .heroContentCta{
                  .button{
                      width: 100%;
                      button{
                          width: 100%;
                      }
                  }
              }
          }
          .heroImg{
              display: none;
          }
          .heroImgMobile{
              display: block;
              position: absolute;
              right:0;
              max-width:90vw;
              padding-bottom: 40px;

              img{
                  max-width: 100%;
              }
          }
      }
  }
}
@media(max-width:394px){
  .heroSection{
      min-height:105vh;
      .heroContainer{
          .heroContent{
              .heroContentText{
                  .title{
                      font-weight: 600;
                      font-size: 32px;
                  }
                  .subTitle{
                      font-weight: 400;
                      font-size: 18px;
                      color: #64748B;
                  }
              }
          }
          .heroImg{
              display: none;
          }
          .heroImgMobile{
              display: flex;
              justify-content: end;
              max-width:90vw;
              padding-bottom: 40px;

              img{
                  max-width: 100%;
              }
          }
      }
  }
}
@media(max-width:376px){
  .heroSection{
      min-height:125vh;
      .heroContainer{
          .heroContent{
              .heroContentText{
                  .title{
                      font-weight: 600;
                      font-size: 32px;
                  }
                  .subTitle{
                      font-weight: 400;
                      font-size: 18px;
                      color: #64748B;
                  }
              }
          }
          .heroImg{
              display: none;
          }
          .heroImgMobile{
              display: flex;
              justify-content: end;
              max-width:90vw;
              padding-bottom: 40px;

              img{
                  max-width: 100%;
              }
          }
      }
  }
}
@media(max-width:364px){
  .heroSection{
      min-height:115vh;
      .heroContainer{
          .heroContent{
              .heroContentText{
                  .title{
                      font-weight: 600;
                      font-size: 32px;
                  }
                  .subTitle{
                      font-weight: 400;
                      font-size: 18px;
                      color: #64748B;
                  }
              }
          }
          .heroImg{
              display: none;
          }
          .heroImgMobile{
              display: flex;
              justify-content: end;
              max-width:90vw;
              padding-bottom: 40px;

              img{
                  max-width: 100%;
              }
          }
      }
  }
}