@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --primary:#4F46E5;
  --primary-faded: #9590EF;
  --primary-dark: #261fad;

}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(224,231,255);
  background: linear-gradient(180deg, rgba(224,231,255,1) 0%, rgba(224,231,255,1) 35%, rgba(180,166,194,1) 100%);
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageContainer{
  max-width: 80vw;
  margin: auto;
}

.button{
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
}

.button-white{
  background: white;
  color: #334155;
  border: 1px solid #CBD5E1;
}

.button-white:hover{
  background-color: rgb(233, 233, 233);
}

.button-primary{
  background-color: var(--primary);
  color: white;
}

.button-primary:hover{
  background-color: var(--primary-dark);
}


.button-primary:disabled {
  background-color: var(--primary-faded);
  color: white;
}

@media (max-width: 640px){
  .pageContainer{
    max-width: 90vw;
    margin: auto;
  }

}